*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: black;
}
#contener{
    background: url();/*colocar o dominio do site*/
    background-attachment: fixed;
}

#cabeça .main{
    background-color: black;
    border-bottom: 1px solid black;
}
.cabeça .main .box, #contener, footer.main .fbox{
    max-width: 1500px;
}
.cabeça .main .box{
    height: 70px;
    margin: 0 auto;
    position: relative;
}
.fixo{
    overflow:hidden;
    height:70px;
}
.cabeça .main .box .logo{
    background:white;
    float: left;
    padding: 18px 17px 17px;
    text-align: center;
    height: 100%;   
}

.head-main-nav{
    float: left;
}
.head-main-nav .ul.main-header{
    float: left;
}