*{
    padding: 0;
    margin: 0;
}
@import url('https://fonts.googleapis.com/css2?family= Bebas+Neue & = Diplomata+SC & display=swap');

:root{
    --fonte-padrao:'Bebas Neue Diplomata', cursive;
}

body{
    background-color: white;
    font-family: var(--fonte-padrao);
}
.cabeça{
    font-family: var(--fonte-padrao);
}