*{
    margin: 0px;
    padding: 0px;
}


#header .começo{
    background-color:black ;
    border-bottom: 4mm rgb(red);
    font-weight: 100%;
    height: 70px;
    float: left;
    position: fixed;
    z-index: 104;
}


#header .começo .header{
    max-width: 1500px;
}

.barra-fixa{
    overflow: auto;
    height: 70px;
}

#header .começo .header .logo{
    float: left;
    padding: 0px 0px 0px;
    text-align: center;
    height: 100%; 
}